In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

#Configuring gmaps

gmaps.configure(api_key=gkey)

#Importing cities list

city_df = pd.read_csv("../WeatherPy/output_data/cities.csv")

In [2]:
#Double-checking dataframe

city_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Fahrenheit),Humidity,Cloudiness,Wind Speed (MPH),Country,Date
0,0,tessalit,20.20,1.01,93.07,12,17,9.55,ML,1587056651
1,1,hobart,-42.88,147.33,51.80,66,75,16.11,AU,1587056403
2,2,punta arenas,-53.15,-70.92,53.60,87,20,11.41,CL,1587056447
3,3,torbay,47.67,-52.73,45.00,75,75,18.34,CA,1587056448
4,4,mahebourg,-20.41,57.70,75.99,88,75,14.99,MU,1587056484
...,...,...,...,...,...,...,...,...,...,...
561,561,fairview,40.81,-74.00,48.99,28,40,10.29,US,1587056847
562,562,mnogovershinnyy,53.94,139.92,27.88,89,0,4.63,RU,1587056867
563,563,havelock,34.88,-76.90,66.00,25,1,18.34,US,1587056932
564,564,lengshuijiang,27.69,111.43,71.06,73,62,2.51,CN,1587057015
565,565,barkot,30.82,78.20,61.99,24,94,5.17,IN,1587057015

In [5]:
#Storing variables for heatmap

locations = city_df[["Latitude", "Longitude"]]

humidity_pct = city_df["Humidity"].astype(float)

#Creates map

fig = gmaps.figure(center= (25,0),zoom_level = 1.8)

#Creates heat map of humidity

heat_layer = gmaps.heatmap_layer(locations, weights = humidity_pct,
                                dissipating = False, max_intensity = 100, point_radius = 3)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Limiting the dataframe to ideal conditions

ideal_weather_df = city_df.loc[(city_df["Max Temp (Fahrenheit)"] >= 70) & (city_df["Max Temp (Fahrenheit)"] <= 80)
                              & (city_df["Wind Speed (MPH)"] < 10) & (city_df["Cloudiness"] == 0)]

In [7]:
#Getting rid of any cities with missing data

ideal_weather_df = ideal_weather_df.dropna()

#Double-checking new dataframe

ideal_weather_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Fahrenheit),Humidity,Cloudiness,Wind Speed (MPH),Country,Date
54,54,mecca,21.43,39.83,72.88,41,0,4.56,SA,1587056656
156,156,castro,-24.79,-50.01,70.45,27,0,4.94,BR,1587056454
176,176,buraydah,26.33,43.98,77.00,29,0,2.24,SA,1587056494
412,412,anastacio,-20.48,-55.81,79.72,32,0,6.38,BR,1587056994
443,443,tres lagoas,-20.75,-51.68,75.38,44,0,6.64,BR,1587056998
520,520,sao luiz gonzaga,-28.41,-54.96,71.74,30,0,7.14,BR,1587057009

In [10]:
#Storing city info into hotel dataframe

hotel_df = ideal_weather_df

#Creating a new column in dataframe for coordinates for the API

hotel_df["Coordinates"] = hotel_df["Latitude"].map(str) + ", " + hotel_df["Longitude"].map(str)

#Double checking new dataframe

hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Fahrenheit),Humidity,Cloudiness,Wind Speed (MPH),Country,Date,Coordinates
54,54,mecca,21.43,39.83,72.88,41,0,4.56,SA,1587056656,"21.43, 39.83"
156,156,castro,-24.79,-50.01,70.45,27,0,4.94,BR,1587056454,"-24.79, -50.01"
176,176,buraydah,26.33,43.98,77.00,29,0,2.24,SA,1587056494,"26.33, 43.98"
412,412,anastacio,-20.48,-55.81,79.72,32,0,6.38,BR,1587056994,"-20.48, -55.81"
443,443,tres lagoas,-20.75,-51.68,75.38,44,0,6.64,BR,1587056998,"-20.75, -51.68"
520,520,sao luiz gonzaga,-28.41,-54.96,71.74,30,0,7.14,BR,1587057009,"-28.41, -54.96"

In [11]:
# Find the nearest hotel for each city in the dataframe

hotel_result = []

target_type = "hotel"

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

search_radius = 5000

params = {"keyword" : target_type,
         "radius" : search_radius,
         "key" : gkey}

#Using for loop to grab data and put into hotel_result list above.

for index, row in hotel_df.iterrows():
    
    hotel_coord = row["Coordinates"]

    params["location"] = hotel_coord
    
    nearest_hotel = requests.get(base_url, params = params).json()
    
    hotel_result.append(nearest_hotel["results"][0]["name"])

    
#Verifying each city's hotel

hotel_result

['Pullman Zamzam Makkah',
 'Central Palace Hotel - Castro (PR)',
 'Rollins Hotel',
 'Fênix Plaza Hotel',
 'Flex Hotel',
 'Ivos Hotel']

In [13]:
# Adding the hotel names to the dataframe

hotel_df["Hotel Name"] = hotel_result

#Verifying the new dataframe

hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Fahrenheit),Humidity,Cloudiness,Wind Speed (MPH),Country,Date,Coordinates,Hotel Name
54,54,mecca,21.43,39.83,72.88,41,0,4.56,SA,1587056656,"21.43, 39.83",Pullman Zamzam Makkah
156,156,castro,-24.79,-50.01,70.45,27,0,4.94,BR,1587056454,"-24.79, -50.01",Central Palace Hotel - Castro (PR)
176,176,buraydah,26.33,43.98,77.00,29,0,2.24,SA,1587056494,"26.33, 43.98",Rollins Hotel
412,412,anastacio,-20.48,-55.81,79.72,32,0,6.38,BR,1587056994,"-20.48, -55.81",Fênix Plaza Hotel
443,443,tres lagoas,-20.75,-51.68,75.38,44,0,6.64,BR,1587056998,"-20.75, -51.68",Flex Hotel
520,520,sao luiz gonzaga,-28.41,-54.96,71.74,30,0,7.14,BR,1587057009,"-28.41, -54.96",Ivos Hotel

In [14]:
#Store the info from dataframes

locations = city_df[["Latitude", "Longitude"]]

humidity_pct = city_df["Humidity"].astype(float)

#Used to format the information for markers

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

#Searches for information in dataframe to populate the infobox

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#Searches dataframe for coordinates

hotel_locations = hotel_df[["Latitude", "Longitude"]]

#Creates map

fig = gmaps.figure(center= (25,0),zoom_level = 1.8)

#Creates heat map

heat_layer = gmaps.heatmap_layer(locations, weights = humidity_pct,
                                dissipating = False, max_intensity = 100, point_radius = 2)
#Creates markers

marker_layer = gmaps.marker_layer(hotel_locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))